.reader {
    grid-template-columns: 5% 20% 70% 5%;
    grid-template-rows: 10% repeat(2, 1fr) 10%;
}
.logo { scale: 0.1; }
.bible-info {
    color: var(--outline);
    justify-self: start;
    text-shadow: -2px -2px var(--quote-shadow);
}
.bible-quote {
    color: var(--outline);
    text-shadow: -3px -2px var(--quote-shadow);
    justify-self: end;
    font-size: 2.2rem;
    margin-right: 3%;
}
.bible-navigation {
    justify-content: center;
    align-content: center;
    gap: 15% 0;
}
.field {
    width: 90%;
    max-width: 90%;
    height: 3.5rem;
    font-size: 1.2rem;
    align-self: self-start;
    background-color: var(--field-bg);
}
.book-navigation, .chapter-navigation { gap: 2rem 0; }
.toggle {
    background-color: var(--field-bg);
    width: 90%;
}
@media screen and (min-height: 660px) and (max-height: 800px) { /***** SMALL SCREEN VIEW *****/
    .bible-navigation { gap: 13% 0; }
    .select {
        height: 3rem;
        font-size: 1rem;
    }
    .book-navigation, .chapter-navigation { gap: 1.5rem 0; }
    .toggle { font-size: 1.2rem; }
}
@media screen and (max-width: 600px) { /***** MOBILE SCREEN VIEW *****/
    .reader {
        grid-template-columns: 100%;
        grid-template-rows: 7% repeat(2, 1fr) 7%;
        padding: 0.5rem;
    }
    .reader > * {
        grid-column: 1;
        justify-self: center;
    }
    .logo {
        position: relative;
        left: -40%;
        scale: 0.09;
    }
    .bible-info { display: none; }
    .bible-quote {
        text-shadow: -2px -1px var(--quote-shadow);
        justify-self: left !important;
        margin-left: 18%;
        font-size: 1.5rem;
        margin-right: 0;
    }
    .bible-navigation {
        position: absolute;
        z-index: 60;
        backdrop-filter: brightness(0.25) blur(3px);
    }
    .bible-revision {
        position: absolute;
        top: 2rem;
        text-align: center;
    }
    .bible-revision:active { box-shadow: 4px 4px 2px 0 rgba(0,0,0,0.5); }
    .btn-config {
        position: relative;
        left: -40%;
        scale: 0.9;
    }
    .open-nav {
        position: absolute;
        z-index: 60;
        bottom: 20px;
        background-color: var(--primary);
        padding: 4px 6px;
        outline: 3px solid var(--outline);
        border-radius: 5px;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
        color: var(--outline);
        font-size: 1.2rem;
    }
    .sn { font-size: 1.2rem; }
}