<section class="content full grid items-center">
  <div class="full flex flex-center content-top c2 r1">
    <div class="content-appname fe f-sh-w">{{ s.start1 }}</div>
    <img src="{{ iasd_logo }}" alt="iasd_logo" class="content-iasd-logo">
  </div>
  <div class="content-book full grid c2 r2">
    <div class="content-book-indicator self-end f-sh-b"><i class="pi pi-book"></i>&nbsp;{{ bookInfo.bookName }}</div>
    <div class="content-book-indicator self-start f-sh-b"><i class="pi pi-map-marker"></i>&nbsp;{{ currentCh | chapter }}</div>
  </div>
  <div class="c2 r3 flex flex-center">
    <app-content-pager></app-content-pager>
  </div>
  <div class="content-controls full grid items-center c2 r4">
    <i class="pi pi-book btn c1 r1 pointer" (click)="toBooks()"></i>
    <em class="btn-label on-hide fb c1 r1">{{ s.btn1 }}</em>
    <i class="pi btn pointer c2 r1 pointer"
       [ngClass]="{'pi-sort-amount-up': !chListOpen, 'pi-sort-amount-down': chListOpen}"
       (click)="toggleChapterList()"></i>
    <em class="btn-label on-hide fb c2 r1">{{ s.btn2 }}</em>
    <ng-container *ngComponentOutlet="chListComp; inputs: {'book-id': bookInfo.bookId, 'ch-count': bookInfo.bookChCount}"></ng-container>
    <i class="pi pi-cog btn c3 r1 pointer"></i>
    <em class="btn-label on-hide fb c3 r1">{{ s.btn3 }}</em>
  </div>
</section>
