.control-btn {
    width: 70px;
}
.nav-text { color: var(--bw); }
.tag {
    display: inline-block;
    color: var(--bw);
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
@media screen and (max-width: 600px) { /***** MOBILE SCREEN VIEW *****/
    .times { font-weight: bold; }
}