.context-menu {
    grid-template-columns: 1fr 10%;
    grid-template-rows: repeat(2, min-content);
    grid-auto-rows: min-content;
    background-color: var(--tertiary);
    padding: 0.5rem;
    color: var(--onTertiary);
    list-style: none;
    outline: 5px solid var(--secondary);
    border-radius: 10px;
    box-shadow: inset var(--field-shadow), var(--page-shadow);
    max-height: 230px;
    overflow-y: auto;
}
.close-mark {
    font-weight: bold;
    justify-self: right;
    align-self: self-start;
    z-index: 11;
}
li { padding: 0.5rem 0; }
li:hover:not(.no-hover) { color: var(--settings-btn-color); }
.colors {
    justify-content: space-evenly;
    text-align: center;
    gap: 0.4rem 0;
}
.btn-color {
    border: none;
    outline: none;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 black;
    font-weight: bold;
}
.color1 { background-color: var(--color1); }
.color2 { background-color: var(--color2); }
.color3 { background-color: var(--color3); }
.color4 { background-color: var(--color4); }
.reports {
    justify-content: center;
    gap: 0.7rem 0;
}
.btn-report {
    padding: 0.2rem 0.4rem;
    color: var(--onTertiary);
}
@media screen and (max-width: 600px) { /***** MOBILE SCREEN VIEW *****/
    .close-mark { scale: 1.2; }
}