<section class="lobby full grid items-center">
    <span class="app-name martel bold st c2 r1">{{ appInfo.name.toUpperCase() }}</span>
    <app-logo class="logo c2 r1"></app-logo>
    <div class="bible-version flex flex-center c2 r2">
        <select id="bible-version" class="select field martel sn" [(ngModel)]="bibleId" (change)="setBibleVersion()">
            <option value="init">Selecciona una biblia</option>
            @for (bible of bibles$ | async; track $index) {
                <option [value]="bible.id">{{ bible.name }}</option>
            }
        </select>
    </div>
    <div class="search full grid items-center c2 r34">
        <input type="search" id="search" #search class="field martel sn" placeholder="Buscar por palabras o cita bíblica"
            autocomplete="off" (input)="lookupValue($event)" (keyup)="searchKeyListener($event)">
        <div class="matches grid items-center" #matches (keyup)="matchesKeyListener($event)">
            <ng-container #matchList></ng-container>
        </div>
    </div>
    @if (bibleId !== 'init') { <app-btn-reader class="btn-reader pointer c3 r3" (click)="gotoReader()"></app-btn-reader> }
    <app-btn-config class="pointer c1 r4" (click)="configHidden = false"></app-btn-config>
    <app-modal height="fit-content" class="modal" [ngClass]="{'hidden': configHidden}"
        (close)="configHidden = true"></app-modal>
    <span class="app-version martel bold italic ss c3 r4">{{ appInfo.version }}</span>
</section>