.chapter-list {
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  max-height: 400px;
  gap: 5px 0;
  background-color: var(--btn-label);
  padding: 0.8rem;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px var(--shadow);
}
.chapter-list-item:hover {
  border-radius: 5px;
  background-color: var(--ch-shadow);
}
@media screen and (max-width: 1024px) { /***** SMALL SCREEN VIEW *****/
  .chapter-list-item:hover { background-color: transparent; }
  .chapter-list-item:active { background-color: var(--ch-shadow); }
}
