<div class="backdrop full"></div>
<section class="modal-content full flex flex-center">
    <div class="card" [ngStyle]="{'width': width, 'height': height}">
        <span class="close-mark sn pointer" (click)="closeModal()">&#10008;</span>
        <div class="modal-grid grid items-center martel sn">
            <span class="modal-title">Ajustes</span>
            <label for="theme">
                Tema de color <input type="button" id="theme" class="toggle pointer martel sn"
                    [value]="theme === 'light' ? 'claro' : 'oscuro'" (click)="toggleTheme()">
            </label>
            <div style="height: 1rem;"></div>
            <ng-content></ng-content>
            <div style="height: 3rem;"></div>
            <span class="ss">Autor&iacute;a de los recursos b&iacute;blicos perteneciente a sus creadores</span>
            <span class="ss">App disponible en <a [href]="appContact.siteUrl" target="_blank">
                {{ appContact.company }}</a> o descarga desde <a [href]="appContact.githubUrl"
                target="_blank">GitHub</a></span>
            <span class="ss">App desarrollada por {{ appContact.developer }}</span>
            <span class="ss">{{ appInfo.name }} - {{ appContact.company }} - {{ appInfo.year }}</span>
        </div>
    </div>
</section>
