<article class="single-page full {{ theme }}-page {{ type }}-model spectral" (click)="onPageClicked()">
    @switch (type) {
        @case ('book') {
            <span class="spectral bold sm"
                [ngClass]="{'long-name': bookData ? bookData.name.length > 15 : false }">
                {{ bookData?.name }}
            </span>
            <span class="spectral italic" style="font-size: 2rem;">{{ bookData?.abr }}.</span>
            <span></span>
            <span class="spectral sn">Cap&iacute;tulos: {{ bookData?.chapterCount }}</span>
            <span class="spectral sn" [ngClass]="{'long-name': bookData ? bookData.author.length > 25 : false }">Autor: {{ parseCharacterMod(bookData!.author) }}</span>
            <span class="spectral sn" [ngClass]="{'long-name': bookData ? bookData.date.length > 15 : false }">Escrito {{ parseCharacterMod(bookData!.date) }}</span>
            <span></span>
            <span class="spectral italic sn">#{{ bookData?.bookOrdinal }}</span>
        }
        @case ('chapter') {
            <span class="full flex flex-center spectral bold sm">{{ chapterNum }}</span>
        }
        @case ('verses') {
            <ng-content></ng-content>
        }
    }
</article>