.book-card {
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 10px repeat(3, 1fr) 8% 10px;
  width: 400px;
  height: 500px;
  font-size: 1.5rem;
  transition: opacity ease-in-out;
}
.self-start { align-self: start; }
.self-end { align-self: end; }
.book-card-testament { text-transform: capitalize; }
.hover:hover { color: red; }
.book-card-bg {
  background: url("../../../../assets/images/sheet.webp") 50% 50% / 100% 100% no-repeat;
  grid-column: 1 / 4;
  grid-row: 1 / 7;
  opacity: 0.8;
  z-index: -1;
}
.book-card-shape-l { border-radius: 10px 0  0 10px; }
.book-card-shape-r { border-radius: 0 10px 10px 0; }
.book-card-shape-m { border-radius: 10px; }
.shadow-l { box-shadow: -3px 3px 5px 0 var(--shadow); }
.shadow-r { box-shadow: 3px 3px 5px 0 var(--shadow); }
.shadow-m { box-shadow: -3px -3px 5px 0 var(--shadow), 3px 3px 5px 0 var(--shadow); }
@media screen and (max-width: 1400px) { /***** MEDIUM SCREEN VIEW *****/
  .book-card {
    width: 300px;
    height: 400px;
  }
}
@media screen and (max-width: 1024px) { /***** SMALL SCREEN VIEW *****/
  .book-card {
    width: 350px;
    height: 500px;
  }
}
