<section class="book-list full grid items-center" tabindex="-1" #bookList (mousemove)="focusBookList()"
    (scrollend)="bookScroll($event)">
    @if (isCordova) { <span class="scroll-to bottom pointer" (click)="scrollTo(19500)">&#9660;</span> }
    @for (book of books$ | async; track $index) {
        <app-single-page type="book" [book-data]="book" (page-click)="gotoChapters($event)"></app-single-page>
    }
    @if (isCordova) { <span class="scroll-to top pointer" (click)="scrollTo(0)">&#9650;</span> }
</section>