.navigation {
    flex-flow: column wrap;
    gap: 2rem 0;
    position: absolute;
    left: 1%;
    top: 17%;
    --blur-base-padding: 5px 2px 5px 2px;
}
@media screen and (max-width: 1300px) { /***** SMALL SCREEN VIEW *****/
    .navigation {
        gap: 1.5rem 0;
        top: 15%;
    }
    app-btn-books, app-btn-chapters, app-btn-verses, app-btn-search, app-btn-favourites, app-btn-config { scale: 0.8; }
}
@media screen and (max-width: 600px) { /***** MOBILE SCREEN VIEW *****/
    .navigation {
        flex-flow: row wrap;
        top: auto;
        left: 0;
        bottom: 0;
        height: max-content;
        width: 100%;
    }
    .navigation.back-light {
        background-size: 100%;
    }
}