<article class="content-card content-card-dimension grid items-center fn"
         [ngClass]="{'content-card-shape-l shadow-l': pageDirection === 'left',
                     'content-card-shape-r shadow-r': pageDirection === 'right',
                     'content-card-shape-m shadow-m': isMobile,
                     'pointer': !isMobile,
                     'hidden': rightHidden }"
         (click)="contentCardClick($event)" #contentCard>
  @for (va of viewArr; track $index;) {
    <app-verse-item [direction]="pageDirection"
                    [verse-id]="va.verse.verseId"
                    [book-id]="va.verse.bookId"
                    [chapter-num]="va.verse.chapterNum"
                    [verse-num]="va.verse.verseNum"
                    [verse-txt]="va.verse.verseTxt"
                    [with-margin-b]="va.withMarginB"
                    [ngStyle]="{'grid-column': 2, 'grid-row': $index + 2}"></app-verse-item>
  }
  <div class="content-card-bg content-card-dimension" [ngClass]="{'content-card-shape-l': pageDirection === 'left',
                                                                  'content-card-shape-r': pageDirection === 'right',
                                                                  'content-card-shape-m': isMobile}"></div>
</article>
