<nav class="book-pager flex flex-center">
  <app-book-card [book-info]="currentLeft"
                 [page-direction]="'left'"
                 (page-clicked)="onPageChange($event)"
                 [ngClass]="{'on-hide': inTransition}"></app-book-card>
  <app-book-card [book-info]="currentRight"
                 [page-direction]="'right'"
                 (page-clicked)="onPageChange($event)"
                 [ngClass]="{'on-hide': inTransition}"></app-book-card>
  <app-book-card [page-direction]="'left'" class="pager-behind behind-1 gap-l-1"></app-book-card>
  <app-book-card [page-direction]="'right'" class="pager-behind behind-1 gap-r-1"></app-book-card>
  <app-book-card [page-direction]="'left'" class="pager-behind behind-2 gap-l-2"></app-book-card>
  <app-book-card [page-direction]="'right'" class="pager-behind behind-2 gap-r-2"></app-book-card>
</nav>
